<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="pythonpath" value="D:\home\site\wwwroot" />
    <add key="WSGI_HANDLER" value="app.app" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpPlatform processPath="%home%\site\wwwroot\venv\Scripts\gunicorn" arguments="--bind=0.0.0.0:%HTTP_PLATFORM_PORT% app:app" stdoutLogEnabled="true" stdoutLogFile="\\?\%home%\LogFiles\gunicorn.log" startupTimeLimit="60" processesPerApplication="1">
      <environmentVariables>
        <environmentVariable name="SERVER_ENV" value="production" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
